.top-design{display:flex;
     justify-content: space-between;
     margin: 0 150px;}
.first-btn{font-size: 18px; 
     font-weight:500;
     padding: 10px 14px;
     background-color: white;
     border-radius: 10px;
}
.h2{font-size: 28px; 
     font-weight:bolder;}
   
     .azeret-mono-font {
          font-family: "Azeret Mono", monospace;
          font-optical-sizing: auto;
          font-style: normal;
        }
  .banner-title{font-size:48px;
font-weight:bolder;}

.description{font-size: 16;
color: 0D1321;}
     .banner{text-align: center;
     margin: 0 220px;}
     .header{background-image: url(../assets/Hero-bg.png);
     margin-top: 20px;}
     .btn2{font-size: 18px;
     padding: 15px 18px;
color: #FFFFFF;
background-color: #0D1321;
border-radius: 10px;}
.main-title{font-size: 32px;
font-weight: bolder;}
.cnter-align{text-align: center;}
.main-description1{font-size: 18px;
color:#0D1321}
.layers-title{color: #0D1321; font-size: 24px; font-weight: bold;}
.layers-description{font-size: 16; color: #0D1321;}
.body-layer{display: flex; justify-content: space-between; gap: 200px; padding: 50px;}
.btn-learn{font-size: 18px; font-weight: 500; color: #0D1321; padding: 8px 12px; }
.section-styles{margin: 60px 130px; padding: 80px 95px;}
.inspiration{margin: 50px 150px;}
.inspiration-description{margin: 0px 200px;}
.video{width: 1000px; height: 550px; padding: 32px; border-radius: 50px; }
.skills{display: flex; margin: 50px 150px;}
.skill-title{font-size: 24px; font-weight: bolder; color: #0D1321;}
.html{margin: 0px 10px; padding: 40px; background-color: #f5eeec;}
.css{margin: 0px 10px; padding: 40px; background-color: #eef2f9;}
.js{margin: 0px 10px; padding: 40px; background-color: #fcfaed;}
.react{display: flex; margin: 50px 0px 10px 0px; padding: 40px; gap: 30px;border:#f5eeec solid 2px; border-radius: 10px;}
.f-target{margin: 50px 150px;}
.lm{font-size: 16px; font-weight: bold; color: #0D1321;}
.node{display: flex; margin: 10px 0px 10px 0px; padding: 40px; gap: 30px;border:#f5eeec solid 2px; border-radius: 10px;}
.support-sec{background-image:url(../assets/handshake.jpg) ; margin: 50px 150px 100px 150px; padding: 65px 155px;
background-size:cover; background-repeat: no-repeat; border-radius: 20px; background-position: center;}
.support-title{font-size: 35px; font-weight: bold; color: #FFFFFF;}
.support-description{font-size: 16px; color: white;}
.support{text-align: center;}
.ff{text-align: center;}
.fbox{font-size: 16px;border-radius: 10px;width: 550px; height: 70px;}
.sbox{font-size: 20px; font-weight: 600; border-radius: 10px;width: 120px; height: 70px;}
.commitment{font-size: 20px; font-weight: 600;}
.bottom{display: flex; margin: 32px 150px;justify-content: space-between;}

